:root {
  --main-font-family: 'Roboto', sans-serif;
  --second-font-family: 'Raleway', sans-serif;
  --primary-bg-color: #ffffff;
  --text-opposite-color: var(--primary-bg-color);
  --second-bg-color: var(--headers-color);
  --primary-text-color: #434455;
  --headers-color: #2e2f42;
  --hidden: #ffffff00;
  --logo-color: #4d5ae5;
  --button-color: var(--logo-color);
  --hover-focus-color: #404bbf;
}
/* 
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
} */

body {
  font-family: var(--main-font-family);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.site-header {
  /* border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px; */
  background-color: var(--primary-bg-color);
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.header-logo .logo-part {
  font-family: var(--second-font-family);
  color: var(--headers-color);
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  cursor: pointer;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  font-style: normal;
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-focus-color);
}

.hero-image {
  background-color: var(--second-bg-color);
  width: 1440px;
  height: 600px;
  text-align: center;
}

.hero-image-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--text-opposite-color);
}

.btn-hero-image {
  font-family: var(--main-font-family);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-opposite-color);
  cursor: pointer;
}

.hero-image .btn-hero-image:hover,
.hero-image .btn-hero-image:focus {
  background-color: var(--hover-focus-color);
}

.hidden {
  color: var(--hidden);
}

.feature-list .feature-item {
  width: 264px;
  height: 104px;
}
